<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfwv6nvZZrigTnjB7y2JaJbO9rGw0Hr4U</string>
	<key>GCM_SENDER_ID</key>
	<string>908944485443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.octattooApp</string>
	<key>PROJECT_ID</key>
	<string>octattoo-app-b1d85</string>
	<key>STORAGE_BUCKET</key>
	<string>octattoo-app-b1d85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908944485443:ios:46faa95670948b920bb8f6</string>
</dict>
</plist>